body
  display flex
  justify-content center
  margin 0
  background #020202
  color #fff

img
  user-select none
  -webkit-user-drag none
  user-drag none

::-webkit-scrollbar
  width 0
  height 0

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.fade-enter-active
.fade-leave-active
  transition opacity 0.3s

.fade-enter-from
.fade-leave-to
  opacity 0

.fade-enter-to
.fade-leave-from
  opacity 1