body
  margin 0
  background #020202
  display flex
  justify-content center

img
  user-select none
  -webkit-user-drag none
  user-drag none

::-webkit-scrollbar
  width 0
  height 0

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.fade-enter-active, .fade-leave-active
  transition opacity 0.2s

.fade-enter-from, .fade-leave-to
  opacity 0

.fade-enter-to, .fade-leave-from
  opacity 1